.feedback-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 408px;
  padding: 24px;
}

input {
  display: block;
  width: 360px;
  height: 40px;

  border-radius: 4px;
  border: 1px solid #808080;
}

.feedback-form > label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #2e2f42;

  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

textarea {
  display: block;
  width: 360px;
  height: 80px;

  border-radius: 4px;
  border: 1px solid #808080;
  resize: none;
}

.feedback-form > button {
  margin-top: 8px;
  width: 95px;
  height: 40px;
  padding: 8px 16px;
  text-align: center;

  border-radius: 8px;
  background: #4e75ff;
  border: none;

  color: #fff;

  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.feedback-form > button:focus,
.feedback-form > button:hover {
  background: #6c8cff;
}

input:hover,
input:focus,
textarea:hover,
textarea:focus {
  border-radius: 4px;
  border: 1px solid #000;
}

input:active::placeholder,
textarea:active::placeholder {
  color: #2e2f42;

  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
